<!DOCTYPE html>
<html>

 <style>
  .cutoff {
  width: 100%;
  height: 180px;
  background-position: bottom;
  overflow: hidden;
  align: center;
}
 .column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
.body {
  <%= image_tag "/assets/images/star-sky.jpg" %>

    </style>   
    
    <head>

<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <br>
  <%= link_to 'Signup now', "#", class: "btn btn-primary btn-lg btn-xlarge" %> </br><p></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


    <h1 style="text-align:center;"> Welcome to this homepage</h1>
    
</head>

<body>

 <div style="color: #ffffff;">
 
    <h1 style="color: #ffffff;  text-align: center;">Join the project today</h1>
     
        
        
    <div class="row bg-grey">
        <div class="column-left text-center" >
             
						<h3>Australian owned and operated</h3>
						<p>Lots of stuff here</p>
					
				</div>
            
				 <div class="column-center text-center" >
             
						<h3>Call us</h3>
						<p>0412 345 678</p>
					
				</div>
            
        <div class="column-right text-center" >
             	<h3>Or email us</h3>
                    <p> <a href="mailto:examplerails@email.com">examplerails@email.com</a></p>
					
				</div>
			
   </div>
</div>   
</body>
 


</html>
