$navbar-default-bg: #123456;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {       
  color: #fff;
  text-decoration: none;
}

#mynavbar {       
  color: #fff;
  text-decoration: none;
}
#mynavbar:hover {       
  color: #fff;
  text-decoration: none;
}
.center
{
  text-align: center;
}

.jumbotron {
  background-image: asset-url('star-sky.jpg');
  background-size: cover;
  height: 550px;
  }

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px; /* This is a comment */
  font-weight: bold;
  text-transform: uppercase;
}

.btn-xlarge {
  font-size: 1.7em;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.article-actions {
  border-top: 1px #eaeaea solid;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #123456;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #fff !important;
  
}

.badge.hover {
  color: #fff;
}

.input_checkbox {
  width: auto !important;
}
.body {
    background: url('/assets/star-sky.jpg');
}
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.text-center {
  text-align: center;
}

.content-block-nopad {
        width: 100%;
        z-index: 100;
        position: relative;
        background-color: #ffffff;
} 
    
.bg-grey {background-color: #2f2f2f !important;
   color: #ffffff;
}
		
.footer-1-2 {
    padding-top: 40px;
    padding-bottom: 30px;
}
        
.big-social {
    margin-top: 20px;
}

		
.big-social .social-item {
    text-align: center;
}

.big-social {
    display: block;
    border-radius: 4px;
    padding: 18px;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

.big-social .social-item a h4 {
    color: #ffffff;
    visibility: hidden;
    margin-bottom: 0;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}

footer a:hover {
  color: #222222;
  
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}